* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9fa8d67c;
  color: #494f70;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  min-height: 100vh;
}

#logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

#logo img {
  width: 40px;
  height: auto;
}

#logo h1 {
  font-size: 42px;
}

form {
  background-color: #5459713e;
  padding: 50px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
}

label {
  display: inline-block;
  width: 100px;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}

input, select, textarea {
  background-color: #e3e6f4;
  color: #494f70;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #494f70;
  width: calc(100% - 110px);
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #494f70;
  padding: 10px;
}

button {
  background-color: #e3e6f4;
  color: #494f70;
  font-size: 16px;
  margin-top: 10px;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #494f70;
  cursor: pointer;
}

h2 {
  font-size: 1.8rem;
  margin-top: 40px;
}

caption {
  caption-side: top;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 20px;
  color: #494f70;
}

table {
  width: 90%;
  background-color: #c9cfee;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px #9fa8d67c;
  margin-bottom: 40px;
}

thead, tbody {
  width: 100%;
}

tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

th, td {
  flex: 1;
  padding: 10px;
  text-align: center;
  border: 1px solid #8b8fa5;
}

thead {
  background-color: #646ea17c;
}

tbody tr:nth-child(even) {
  background-color: #f1f3fbb8;
}

@media (max-width: 768px) {
  tr {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid #8b8fa5;
    margin-bottom: 10px;
  }

  th, td {
    flex: none;
    width: 100%;
    text-align: left;
  }

  table {
    width: 100%;
    padding: 10px;
  }
}
